body {
  font-family: Arial;
  margin: 0;
  background-color: #FFA500; 
}

#home {
background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
}

#about {
  background: linear-gradient(to right, #182848, #4b6cb7); 
  color: #fff;
}

#projects {
  background: linear-gradient(to right, #c99846, #554023);
}

#contact {
  background: linear-gradient(to right, #023c0d, #5bb226, #98d0c1, #de512b, #0c0c6d);
}
p:hover {
color: #00FF00;;
}

.profile-img {
  width: 150px;
  height: auto;
}



header {
  background: url('assets/images/portfoliobkg.jpg');
  background-size: cover;
  padding: 80px 20px;
  color: #fff;
  text-align: center;
}

header a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

header a:hover {
  color: #00adb5;
}




.hero {
  text-align: center;
  padding: 100px;
  background: #FFA500;
  color: #fff;
}




section {
  padding: 50px;
}

.skills-logos {
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
flex-wrap: wrap;
max-width: 100%;
}

.skills-logos img {
width: 50px !important;
height: auto;
object-fit: contain;
display: block;
transition: transform 0.3s;
}

.skills-logos img:hover {
transform: scale(1.2);
}



.projects-container {
  display: flex;
  gap: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
}

.project-card img {
width: 100%;
border-radius: 5px;
margin-bottom: 10px;
}

.project-card h3 {
margin: 10px 0 5px 0;
}

.project-card p {
margin-bottom: 10px;
}

.project-card a {
display: inline-block;
margin: 5px;
text-decoration: none;
color: #00bfff;
}

.project-card:hover {
  transform: scale(1.05);
}




footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
}